body {
    overflow: initial !important;
}
::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255,255,255.5); 
}
 
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.15);
  opacity: 0;
  border-radius: 8px;
  cursor: grabbing;
  transition: opacity .3s linear 2s;
}
::-webkit-scrollbar-thumb:hover{
  opacity: 1;

}

#mark-it-header {
    top: 0px;
    z-index: 999;
    background-color: white;
    position: sticky;
    justify-content: space-between;
    padding: 15px 7vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#mi-app-container {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}
#mi-content {
    position: relative;
    flex: 1;
    padding: 16px 7vw;
}
#mi-post-btn {
    position: absolute;
    right: 24px;
    bottom: 24px;
}

.mark-it-menu-item {
    font-weight: 600;
    font-size: 12px;
    text-decoration: none !important;
}
